# Environment
.env
.env.*
!.env.example

# Logs
*.log
logs/

# Uploaded files
apps/server/uploads/**
!apps/server/uploads/
!apps/server/uploads/profileImg/
!apps/server/uploads/profileImg/.gitkeep

# Postman local workspace files
.postman/
postman/
