<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sapphire.domain.user.mapper.UserMapper">
    <select id="existsByEmail" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM users
            WHERE email = #{email}
              AND deleted_at IS NULL
        )
    </select>

    <select id="findByEmail" resultType="com.sapphire.domain.user.dto.User">
        SELECT
            id,
            email,
            password_hash,
            name,
            phone,
            role,
            oauth_provider,
            oauth_id,
            profile_image_file_id,
            status,
            language,
            created_at,
            updated_at,
            deleted_at
        FROM users
        WHERE email = #{email}
          AND deleted_at IS NULL
    </select>

    <select id="findById" resultType="com.sapphire.domain.user.dto.User">
        SELECT
            id,
            email,
            password_hash,
            name,
            phone,
            role,
            oauth_provider,
            oauth_id,
            profile_image_file_id,
            status,
            language,
            created_at,
            updated_at,
            deleted_at
        FROM users
        WHERE id = #{id}
          AND deleted_at IS NULL
    </select>

    <insert id="insert" parameterType="com.sapphire.domain.user.dto.User"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO users (
            email,
            password_hash,
            name,
            phone,
            role
        )
        VALUES (
            #{email},
            #{passwordHash},
            #{name},
            #{phone},
            #{role}
        )
    </insert>
</mapper>
