<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sapphire.domain.profile.mapper.CompanyProfileMapper">
    <insert id="insertDefault">
        INSERT INTO company_profiles (user_id)
        VALUES (#{userId})
    </insert>

    <insert id="insertSignupProfile">
        INSERT INTO company_profiles (
            user_id,
            company_name,
            business_number,
            verification_status
        )
        VALUES (
            #{userId},
            #{companyName},
            #{businessNumber},
            #{verificationStatus}
        )
    </insert>
</mapper>
